<ion-content class="container">
  <ion-card class="card">
    <ion-card-content>
      <div class="options">
        <p
          (click)="selectOption('signup')"
          [ngClass]="{ 'active': selectedOption === 'signup' }"
          [style.backgroundColor]="selectedOption === 'signup' ? '#FF5F25' : '#DEAB99'">
          Sign-up
        </p>
        <p
          (click)="selectOption('login')"
          [ngClass]="{ 'active': selectedOption === 'login' }"
          [style.backgroundColor]="selectedOption === 'login' ? '#FF5F25' : '#DEAB99'">
          Login
        </p>
      </div>
      <form>
        <div class="item-input" *ngIf="selectedOption === 'signup'">
          <input type="text" id="email" placeholder="Email">
        </div>
        <div class="item-input">
          <input type="text" id="username" placeholder="Username">
        </div>
        <div class="item-input">
          <input type="text" id="password" placeholder="Password">
        </div>
        <div class="item-input" *ngIf="selectedOption === 'signup'">
          <input type="text" id="re-password" placeholder="Re-enter password">
        </div>
        <button class="btn-signup">{{ selectedOption === 'signup' ? 'Sign-up' : 'Login'}}</button>
      </form>
      <div class="icon">
        <div class="item-icon">
          <div class="icon-gg">
            <img src="./assets/ic_gg.png" alt="">
          </div>
          <div class="icon-apple">
            <img src="./assets/ic_apple.png" alt="">
          </div>
        </div>
        <div class="item-icon">
          <div class="icon-fb">
            <img src="./assets/ic_facebook.png" alt="" class="icon-fb">
          </div>
          <div class="icon-twitter">
            <img src="./assets/ic_twitter.png" alt="" class="icon-twitter">
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
